<script>
  function prettyPrint() {
    var ugly = document.getElementById('content').value;
    var obj = JSON.parse(ugly);
    var pretty = JSON.stringify(obj, undefined, 4);
    document.getElementById('content').value = pretty;
  }

  function copyToClipboard(string) {
    console.log(string);
    navigator.clipboard.writeText(string);
    alert("Copied the text: \n" + string);
  }
</script>

<div class="container">
  <h1>API Mocker</h1>
  <% if flash.notice %>
    <div class="alert alert-danger" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>

  <%= form_with url: api_content_create_path, method: :post do |f| %>
    <div class="row">
      <div class="col-8">
        <%= f.text_field :title, required: true, placeholder: 'Title', class: 'form-control' %>
      </div>
      <div class="col-2">
        <%= button_tag 'Prettify', type: 'button', id: 'prettifyBtn', onclick: 'prettyPrint();', class: 'btn btn-info btn-block' %>
      </div>
      <div class="col-2">
        <%= f.submit 'Create', id: 'submitBtn', class: 'btn btn-success btn-block' %>
      </div>
    </div>
    <br>
    <%= f.text_area :content, required: true, rows: 10, placeholder: 'Your JSON here', class: 'form-control' %>
  <% end %>
  <br>

  <table class="table table-striped" style="width: 100%; table-layout: fixed; font-size: 80%">
    <thead>
      <tr>
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col" style="width: 15%;">Title</th>
        <th scope="col" style="width: 70%;">Content</th>
        <th scope="col" style="width: 10%;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @api_contents.each do |api_content| %>
        <tr>
          <th scope="row"><%= api_content.id %></th>
          <td><%= api_content.title %></td>
          <td>
            <div style="max-height:300px; width:100%; overflow-x: auto; border:1px solid pink;">
              <pre><%= ApiContentPresenter.new(api_content).content_as_json %></pre>
            </div>
          </td>
          <td>
            <%= link_to 'Open link', all_public_show_path(id: api_content.id), target: '_blank' %><br>
            <%= link_to 'Copy link', 'javascript:;', onclick: "copyToClipboard('#{all_public_show_url(id: api_content.id)}')" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.getElementById('content').addEventListener('input', function (evt) {
    let prettifyBtn = document.getElementById('prettifyBtn');
    let submitBtn = document.getElementById('submitBtn');
    if (IsJsonString(this.value)) {
      console.log('yes')
      prettifyBtn.disabled = false;
      submitBtn.disabled = false;
    } 
    else {
      console.log('no')
      prettifyBtn.disabled = true;
      submitBtn.disabled = true;
    }
  });

  function IsJsonString(str) {
    try {
        JSON.parse(str);
    } catch (e) {
        return false;
    }
    return true;
  }
</script>
